{% extends 'base.html' %} {% block body %}
<h1>Post</h1>
<form action="/post" method="POST" class="my-3">
  {% csrf_token %}
  <div class="form-group">
    <label for="cation">Caption</label>
    <input
      type="textarea"
      class="form-control"
      id="caption"
      name="caption"
      placeholder="Enter a caption"
    />
  </div>
  <div class="form-group">
    <label for="url">Image Url</label>
    <input
      type="text"
      class="form-control"
      id="url"
      name="url"
      placeholder="Enter Image Url."
    />
  </div>
  <div class="form-group">
    <label for="desc">Description</label>
    <textarea
      name="desc"
      placeholder="Enter description"
      class="form-control"
      id="desc"
      rows="3"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Post</button>
</form>
{% endblock body %}
